<div class="panel-body">
    <form class="form-horizontal" id="add_project_form">
        <!-- Prevents cross site request forgeries. -->
        {% csrftoken %}

        <div class="form-group">
            <label>Project Title</label>
            <input type="text" id="add_project_title"/>
        </div>   
        <div class="form-group">
            <label for="exampleInputFile">Poster Board Upload</label>
            <input type="file" id="add_project_image">
        </div>
        <div class="form-group">
            <label>Project Topic</label>
            <input type="text" id="add_project_topic"/>   
        </div>
        <div class="form-group">
            <label>Project Abstract</label>
            <textarea class="form-control" rows="4" id="add_project_abstract"></textarea> 
        </div>    
        <div class="form-group">
            <label>Project Group Members</label>
            <input type="text" id="add_project_members"/>   
        </div>
        <div class="form-group">    
            <label>Project Advisor</label>
            <input type="text" id="add_project_advisor"/>    
        </div>
        <div class="form-group">   
            <label>Project Future Work</label>
            <textarea class="form-control" rows="4" id="add_project_future_work"></textarea>  
        </div>  
        <div class="form-group">
            <button class="btn btn-default" id="add_project_add">Add</button>
            <button class="btn btn-default" id="add_project_cancel">Cancel</button>
        </div>
    </form>
</div>
